/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#practica-1 {
    height: 100vh;
}


.padre {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
}


@media only screen and (min-width: 375px) {
    .navbar li {
        text-align: center;
        margin-top: 10px;
    }

    .half-side {
        width: 100%;
        display: flex;
    }

    .float-left{
        margin-bottom: 20px;
    }

    .float-right {
        margin-top: 20px;
    }

    .center {
        margin: 100px auto;
    }

    .link {
        font-size: 1.6rem;
    }

    .title {
        font-size: 4.5rem;
        
    }

    .description{
        font-size: 2rem;
    }

    .btn {
        font-family: 'Poppins', sans-serif;
        padding: 1rem 4rem;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
    }

    .btn-outline-primary {
        background-color: transparent;
        color: rgb(72, 129, 235);
        border-color: rgb(72, 129, 235);
        border-style: solid;
        border-width: 4px;
        border-radius: 12px;
        transition: all 0.2s linear;
    }

    .btn-outline-primary:hover {
        color: white;
        background:rgb(72, 129, 235);
        border-color: white;
        transition: all 0.2s linear;
    }
    
    .circle-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .half-circle {
        background-color: cornflowerblue;
        height: 60vh;
        width: 100%;
        border-radius: 50% 0 0 50%;
    }
}

@media only screen and (min-width: 768px) {
    .navbar li {
        text-align: center;
        margin-top: 10px;
    }

    .half-side {
        width: 100%;
        display: flex;
    }

    .float-left{
        margin-bottom: 20px;
    }

    .float-right {
        margin-top: 20px;
    }

    .center {
        margin: 100px auto;
    }

    .title {
        margin: 10px 0;
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 2px;
    }

    .link {
        font-size: 1.6rem;
    }

    .title {
        font-size: 5rem;
    }

    .description{
        font-size: 1.5rem;
    }

    .btn {
        font-family: 'Poppins', sans-serif;
        padding: 1rem 4rem;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
    }

    .btn-outline-primary {
        background-color: transparent;
        color: rgb(72, 129, 235);
        border-color: rgb(72, 129, 235);
        border-style: solid;
        border-width: 2px;
        border-radius: 12px;
        transition: all 0.2s linear;
    }

    .btn-outline-primary:hover {
        color: white;
        background:rgb(72, 129, 235);
        border-color: white;
        transition: all 0.2s linear;
    }

    .half-circle {
        background-color: cornflowerblue;
        height: 80vh;
        width: 100%;
        border-radius: 50% 0 0 50%;
    }
}

@media only screen and (min-width: 1024px) {

    .link {
        font-size: 1rem;
    }

    .navbar li {
        float: left;
    }

    .half-side {
        width: 50%;
        display: flex;
    }
    
    .float-left {
        height: 50%;
        float: left;
    }
    
    .float-right {
        height: 50%;
        float: right
    }

    .center {
        margin: 25% auto;
    }

    .title {
        margin: 10px auto;
        margin-right: 20px;
        font-size: 3.5rem;
        letter-spacing: 2px;
    }

    
    .btn {
        font-family: 'Poppins', sans-serif;
        padding: 0.7rem 2rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
    }

    .btn-outline-primary {
        background-color: transparent;
        color: rgb(72, 129, 235);
        border-color: rgb(72, 129, 235);
        border-style: solid;
        border-width: 2px;
        border-radius: 12px;
        transition: all 0.2s linear;
    }

    .btn-outline-primary:hover {
        color: white;
        background:rgb(72, 129, 235);
        border-color: white;
        transition: all 0.2s linear;
    }

    
    .half-circle {
        background-color: cornflowerblue;
        height: 90vh;
        width: 100%;
        border-radius: 50% 0 0 50%;
    }

    .half-circle img {
        width: 80%;
        filter: drop-shadow(8px 8px 4px rgb(37, 71, 133));
    }
}

.navbar-dark-bg {
    background-color: #333;
}

header {
    font-family: 'Poppins', sans-serif;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.link {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 5px;
}

.link:after {
    content: "";
    position: absolute;
    /* background-color: #ff3c78; */
    background-color: cornflowerblue;
    height: 3px;
    width: 0;
    left: 0;
    bottom:-10px;
    transition: 0.3s;
}

.link:hover {
    color: #ffffff;
}

.link:hover::after {
    width: 100%;
}

.active {
    color: #ffffff;
}

.active:after {
    width: 100%;
}

/* HOME */

#home {
    height: 80vh;
    font-family: 'Lobster', cursive;
}

.text-shadow-primary {
    filter: drop-shadow(8px 8px 4px rgb(37, 71, 133));
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.m-auto {
    margin: auto;
}

.p-auto {
    padding: auto;
}



.description {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

/* ABOUT */

#about {
    height: 100vh;
}

.parallax {
    /* The image used */
    background-image: url("../assets/paralax-bg.webp");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}